<% layout('layouts/boilerplate') -%>

<%- include('../partials/flash') %>

<form class="new-form needs-validation" action="/products/<%=product._id%>?_method=PATCH" method="POST" novalidate>
    <div class="mb-3">
      <label for="name" class="form-label">Name : </label>
      <input type="text" class="form-control" name="name" value="<%=product.name%>" required>
    </div>
    <div class="mb-3">
      <label for="img" class="form-label">Image URL : </label>
      <input type="text" class="form-control" name="img" value="<%=product.img%>" required></input>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">$</span>
      <input type="number" class="form-control" name="price" value="<%=product.price%>" required></input>       
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description : </label>
      <textarea name="desc" class="form-control" rows="3" required><%=product.desc%></textarea>
    </div>
    <div class="mb-3">
      <button class="btn btn-success btn-md">Update Product</button>
    </div>
</form>